.postListItem::after {
  content: "";
  right: 10px;
  top: 10px;
  bottom: -10px;
  @apply absolute block left-0 z-0 rounded-sm transition-250 transition-ease transition-all;
}

.postListItem:hover::after {
  left: -10px;
  top: -10px;
  bottom: -30px;
  @apply bg-yellow-100;
}

.extraInfoContainer {
  bottom: -30px;
  @apply left-0 right-0;
}
